{% extends "mandataire/base.html.twig" %}

{% block body %}
<div class="wrapper-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form action="/transactions/save.json" id="formtransaction" method="post" autocomplete="off"
                      data-ajax="true"
                      enctype="multipart/form-data">
                    {% if transaction.id!='' %}
                        <input type="hidden" id="id" name="id" value="{{ transaction.id }}"/>
                    {% endif %}
<h2>Formulaire de transaction :</h2>
                    <div class="form-group" >
                        <div class="radio" style="margin-left:-25px;">
                            <label class="label-radio" for="is_income"></label>
                            <label class="control-label">
                                <input id="is_income" value="income" type="radio"
                                       name="income_expense" {{ checked_is_pledge }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span>Credit *</span>
                            </label>

                            <label class="label-radio" for="is_expense"></label>
                            <label class="control-label">
                                <input id="is_expense" value="expense" type="radio"
                                       name="income_expense" {{ checked_is_pledge }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                                <span>Débit *</span>
                            </label>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="reference" class="control-label">Référence : *</label>
                        <input title="Reference de la transaction" type="text" class="form-control" id="reference" name="reference"
                               value="{{ transaction.reference }}"
                               placeholder="Libre ou Référence de promesse de don">
                    </div>
                    <div class="form-group" >
                        <div class="checkbox">
                            <label class="control-label">
                                <input id="is_pledge" value="ok" type="checkbox"
                                       name="is_pledge" {{ checked_is_pledge }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <label class="label-checkbox" for="is_pledge">Correspond à une promesse de don</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pledge" class="control-label">Montant : *</label>
                        <input title="montant de la transaction" type="text" class="form-control" id="amount" name="amount"
                               value="{{ transaction.amount }}"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="pledge" class="control-label">Commentaire :</label>
                        <textarea title="commentaire"  class="form-control" id="comment" name="comment"
                               value="{{ transaction.comment }}"
                                   placeholder=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="pledge" class="control-label">Justificatif :</label>
                        <input title="Justificatif" type="file" class="form-control" id="proof" name="proof"
                               value=""
                               placeholder="" disabled ><span class="help-block">En construction ...</span>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn  btn-primary">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}