{% extends "visitor/base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - Formulaire d'engagement"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ urlPage }}"/>
    <meta property="og:image" content="{{ urlSite }}/css/images/image-panneaux.png"/>
    <meta property="og:description"  content="Affirmez votre engagement de porter une candidature #MAVOIX aux élections législatives."/>
    <meta name="description"  content=""/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - Formulaire d'engagement">
    <meta name="twitter:description" content="Affirmez votre engagement de porter une candidature #MAVOIX aux élections législatives.">
    <meta name="twitter:image" content="{{ urlSite }}/css/images/image-panneaux.png">
{% endblock %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                    <form action="/groupe/save.json" id="formgroup" method="post" autocomplete="off"
                          data-ajax="true"
                          enctype="multipart/form-data">
                        {% if group.id!='' %}
                            <input type="hidden" id="id" name="id" value="{{ group.id }}"/>
                            <input type="hidden" id="key" name="key" value="{{ key }}"/>
                        {% endif %}

                        <div class="form-group">
                            <label for="group_name" class="control-label"><strong>Nous collectif local de</strong></label>
                            <input type="text" class="form-control" id="group_name" name="group_name"
                                   value="{{ group.name }}"
                                   placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="nom" class="control-label"><strong>Nous engageons à réaliser la campagne législative #MAVOIX dans la circonscription</strong></label>
                            <select class="form-control updateContentOnChange" id="departement" name="departement" data-url="/groupe/formulaire.html" data-blocks="['divCirconsciptions']" >
                                <option value="">Choisissez un département</option>
                              {% for departement in departements  %}
                                <option value="{{ departement.id }}" {%  if group.departement==departement.id %} selected {% endif %}>{{ departement.code }} - {{ departement.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="updatableContent" data-updateIndex="divCirconsciptions">
                                {% if circonscriptions|length>0 %}
                                    <select class="form-control" id="circonscription" name="circonscription"  >
                                        <option value="">Choisissez une circonscription</option>
                                    {% for circonscription in circonscriptions  %}
                                        <option value="{{ circonscription.id }}" {%  if group.circonscription==circonscription.id %} selected {% endif %}>{{ sup(circonscription.number,'f',true) }} circonscription</option>
                                    {% endfor %}
                                    </select>
                                {% else %}
                                    <select class="form-control" id="circonscription" name="circonscription"  disabled>
                                        <option value="">Choisissez une circonscription</option>
                                </select>
                                {% endif %}

                            </div>
                            <p class="help-block">Si votre groupe fait campagne dans plusieurs circonscriptions, remplissez un formulaire par circonscription.</p>
                        </div>




                        <h3>Le ou la mandataire financier</h3>
                        <div class="form-group">

                            <label for="mandataire_nom" class="control-label">Nom de famille : *</label>
                            <input type="text" class="form-control publicinfo" id="nom" name="nom"
                                   value="{{ mandataire.name|ucwords }}"
                                   placeholder="Nom de famille">
                        </div>
                        <div class="form-group">

                            <label for="mandataire_prenom" class="control-label">Prénom : *</label>
                            <input type="text" class="form-control publicinfo" id="prenom" name="prenom"
                                   value="{{ mandataire.firstname|ucwords }}"
                                   placeholder="Prénom">
                        </div>

                        <div class="form-group">
                            <label for="mandataire_email" class="control-label">E-mail : *</label>
                            <input type="email" class="form-control" id="mandataire_email" name="mandataire_email"
                                   value="{{ mandataire.email }}"
                                   placeholder="xxxxxx@xxxxx.com ">
                        </div>
                        <div class="form-group">
                            <label for="mandataire_tel" class="control-label">Téléphone : *</label>
                            {% if group.tel!=''  %}
                                <input type="text" class="form-control" id="mandataire_tel" name="mandataire_tel" placeholder="+33XXXXXXXXX"
                                       value="{{ mandataire.tel }}">
                                <p class="help-block">Format international par ex. : +33661616161</p>
                            {%  else %}
                                <br /><input id="mandataire_tel" type="tel" class="form-control" name="mandataire_tel" >
                                <input type="hidden" class="form-control" id="mandataire_tel" name="mandataire_tel" placeholder="XXXXXXXXX"
                                       value="{{ mandataire.tel }}" style="position:absolute;top:-10000px;"> {# <button type="button" class="jsTestPhone">TEST</button> #}
                            {% endif %}


                        </div>
                        <div class="form-group">
                            <label for="mandataire_ad1" class="control-label">Adresse champ 1 : *</label>
                            <input type="text" class="form-control" id="mandataire_ad1" name="mandataire_ad1"
                                   placeholder="N°, type de voie, nom de la voie" value="{{ mandataire.ad1 }}">
                        </div>
                        <div class="form-group">
                            <label for="mandataire_ad2" class="control-label">Adresse champ 2 :</label>
                            <input type="text" class="form-control" id="mandataire_ad2" name="mandataire_ad2" value="{{ mandataire.ad2 }}"
                                   placeholder="Immeuble, Résidence, Z.I ...">
                        </div>
                        <div class="form-group">
                            <label for="mandataire_ad3" class="control-label">Adresse champ 3 :</label>
                            <input type="text" class="form-control" id="mandataire_ad3" name="mandataire_ad3" value="{{ grmandataireoup.ad3 }}"
                                   placeholder="BP, TSA, Lieu dit">
                        </div>
                        <div class="form-group">
                            <label for="mandataire_cp" class="control-label">Code postal : *</label>
                            <input type="text" class="form-control publicinfo" id="mandataire_cp" name="mandataire_cp" value="{{ mandataire.zipcode }}"
                                   placeholder="XXXXX">
                        </div>
                        <div class="form-group">
                            <label for="mandataire_ville" class="control-label">Ville : *</label>
                            <input type="text" class="form-control publicinfo" id="mandataire_ville" name="mandataire_ville"
                                   value="{{ mandataire.city|capitalizefirst }}"
                                   placeholder="Nom de la ville">
                        </div>
                        <p>Il / elle est d’accord pour contribuer et partager les informations avec les autres mandataires financiers qui se réunissent chaque mercredi soir en ligne. 
                            Il.elle a déjà pris contact avec la banque suivante afin de préparer l’ouverture du compte.</p>
                        <div class="form-group">
                            <label for="banque_nom" class="control-label">Nom de la banque :</label>
                            <input type="text" class="form-control" id="banque_nom" name="banque_nom" value="{{ mandataire.bank_name }}"
                                   placeholder="Crédit Démocratique de la Madeleine">
                        </div>
                        <div class="form-group">
                            <label for="banque_ville" class="control-label">Ville :</label>
                            <input type="text" class="form-control" id="banque_ville" name="banque_ville" value="{{ groupe.bank_city }}"
                                   placeholder="BP, TSA, Lieu dit">
                        </div>


                        <hr/>
                        <h2></h2>

                        <div class="form-group">
                            <label for="imagefile" class="control-label">Photo :</label>


                            <div class="input-group image-preview  publicinfo">
                                <input type="file" accept="image/jpeg" name="image" id="imagefile"/>
                                <input type="hidden" id="imageData" name="imageData"
                                       value="{% if group.path_pic!='' %}{{ base64image }}{% endif %}"/>
                                <input type="hidden" id="imageFilename" name="imageFilename"
                                       value="{% if group.path_pic!='' %}{{ nameimage }}{% endif %}"/>
                                <input type="text" class="form-control image-preview-filename" disabled="disabled">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default image-preview-clear"
                                            style="display:none;">
                                        <span class="fa fa-times"></span>
                                    </button>
                                    <div class="btn btn-default image-preview-input">
                                        <span class="fa fa-folder-open"></span>
                                        <span class="image-preview-input-title">Choisir</span>
                                        <input type="hidden" name="MAX_FILE_SIZE"
                                               value="{{ ConfigService.get("max-filesize")*1024*1024 }}"/>
                                    </div>
                                </span>
                            </div>

                            <div class="help-block">Idéalement format carré (entre {{ ConfigService.get("min-width") }}px et {{ ConfigService.get("max-height") }}px ). {{  ConfigService.get("max-filesize") }}Mo max</div>

                            <div class="drop-zone publicinfo"
                                 style="{%  if group.path_pic!='' %}background-image:url('/{{ group.path_pic }}'){% endif %}"></div>

                        </div>


                        {% if ConfigService.get("enable-captcha")== 1  %}
                            <div class="form-group">
                                <label for="captcha" class="control-label">Code de sécurité : *</label>
                                <div class="p-b">
                                    <img src="/captcha/image.jpg" class="jsCaptcha" style="border:1px solid #000000;"/><br /><a href="javascript:void(0);" class="text-primary jsCaptchaRefresh" style="color:#000000;"> Ce code est illisible !  </a>
                                </div>
                                <input type="text" class="form-control" id="captcha" name="captcha"
                                       value=""
                                       placeholder="copiez ici le code de sécurité">
                            </div>
                        {% endif  %}

                        <hr />
                        <p>En cliquant sur le bouton ci-dessous, vous reconnaissez avoir pris connaissance de notre <a href="/home/mentions-legales.html">politique de gestion des données personnelles</a> et acceptez que les informations des champs encadrés en <span style="color:#05a60d;font-weight:bold">vert</span> soient rendues publiques.</p>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                {% if group.id!='' %}
                                    Enregistrer
                                {% else %}
                                    Envoyer ma engagement
                                {% endif %}
                            </button>
                        </div>
                        {% if oMe.type=='admin' and group.state=='offline' %}
                            <div class="text-center p-t-x2 p-b-x2">
                                <input type="hidden" name="autovalid" id="autovalid" value="0" >
                                <button type="button" class="btn  btn-primary jsBtAutoValid">Enregistrer et mettre en ligne</button>
                            </div>
                        {% endif %}
                        {% if oMe.type=='admin' %}
                            <div class="text-center p-t-x4 p-b-x4">
                                <button type="button" class="btn btn-primary jsBackButton">
                                    Retour
                                </button>
                            </div>
                        {% endif %}
                        <div class="text-center p-t-x4 p-b-x4">
                            <div class="fb-share-button" data-href="{{ urlPage }}" data-layout="button" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ urlPageEncoded }}&amp;src=sdkpreparse">Partager</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
