{% extends "visitor/base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - {{ sup(group.circonscription.number,'f',true) }} circonscription / {{  group.departement.name}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ConfigService.get("urlSite") }}/groupe/page.html?id={{ group.id }}"/>

    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg"/>
    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg"/>
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description"  content="Je cofinance les législatives #MAVOIX pour décider directement des lois pendant 5 ans."/>
    <meta name="description"  content="Je cofinance les législatives #MAVOIX pour décider directement des lois pendant 5 ans"/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - {{ sup(group.circonscription.number,'f',true) }} circonscription / {{ group.departement.name}}">
    <meta name="twitter:description" content="Je cofinance les législatives #MAVOIX pour décider directement des lois pendant 5 ans.">
    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg"/>
{% endblock %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a  class="no-underline" href="http://www.elections-legislatives.fr/circonscriptions/0{{group.departement.code}}.asp" target="blank">
                        <h1> {{group.departement.code}} - {{ group.departement.name}}<br /><small>{{ sup(group.circonscription.number,'f',false) }} circonscription</small></h1>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <div style="margin-top:35px; background-image:url('/{{ group.path_pic_fit }}');"
                         class="square-pic-group"></div>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

                    <h3>Contacter le groupe local</h3>
                    <ul>
                        {% if group.email != ''%}
                            <li><a href="mailto:{{  group.email }}">{{ group.email }}</a></li>
                        {% endif %}
                        {% if group.facebook_page != ''%}
                            <li><a href="{{  group.facebook_page }}">Page Facebook</a></li>
                        {% endif %}
                        {% if group.facebook_group != ''%}
                            <li><a href="{{  group.facebook_group }}">Groupe Facebook</a></li>
                        {% endif %}
                        {% if group.facebook_page != ''%}
                            <li><a href="{{  group.twitter }}">Compte Twitter</a></li>
                        {% endif %}
                    </ul>

                    <img src="{{ ConfigService.get("urlSiteDons") }}/smallpic/dons/{{ group.id }}/tirelire.png" alt="Progression des dons" style="width:100%"/>

                    <div class="text-center m-t-x2 m-b-x2">
                        {%  if  income_amount+pledge_amount >= group.amount_target %}
                            <button type="button" class="btn btn-lg btn-primary" disabled >Objectif atteint !</button>
                        {%  else  %}
                            <a href="{{ ConfigService.get("urlSiteDons") }}/dons/participation.html?id={{ group.id }}" class="btn btn-lg btn-primary">Je cofinance cette campagne !</a>
                        {%  endif  %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 id="budget">Budget de campagne</h3>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr><td>Impression et livraison des affiches électorales </td><td>{{ postersCost }}&nbsp;euros</td><tr>
                                {% if group.departement.code == '99' %}
                            <tr><td>Impression des bulletins de vote </td><td>{{ ballotsEtrCost }}&nbsp;euros</td><tr>
                            <tr><td>Campagne d'emails à destination des Français de l'étranger </td><td>{{ remainingEtrCost  }}&nbsp;euros</td><tr>
                                <t><td>Frais bancaires</td><td>{{ bankingEtrCost }}&nbsp;euros</td><tr>
                                {% else %}
                            <tr><td>Impression des bulletins de vote </td><td>{{ ballotsCost }}&nbsp;euros</td><tr>
                            <tr><td>Impression des professions de foi </td><td>{{ professions_de_foiCost }}&nbsp;euros</td><tr>
                            <tr><td>Livraison des bulletins et professions de foi</td><td>{{ remainingCost }}&nbsp;euros</td><tr>
                            <tr><td>Frais bancaires </td><td>{{ bankingCost }}&nbsp;euros</td><tr>
                                {% endif %}
                            <tr><td>Frais postaux pour l'envoi des reçus fiscaux </td><td>{{ postalCost }}&nbsp;euros</td><tr>
                            <tr><td>Expertise comptable du compte de campagne </td><td>{{ accountantCost }}&nbsp;euros</td><tr>
                            <tr><td>Autres dépenses </td><td>{{ smallExpensesCost }}&nbsp;euros</td><tr>
                        </table>
                    </div>
                    <p>Total : <strong><span style="font-size:1.2em">{{ group.amount_target }} euros</span></strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <h3>Carte de la circonscription</h3>
                    <iframe width="100%" height="450px" frameBorder="0" src="{{ group.map_url }}?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=false&onLoadPanel=undefined&captionBar=false"></iframe>
                    <p>
                        <a href="{{ group.map_url  }}">Voir en plein écran</a> -- Si vous habitez dans la zone jaune, vous pourrez voter pour un·e candidat·e #MAVOIX aux élections législatives du 11 juin.
                    </p>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
