{% if num!=0 %}
<div class="panel" style="background-color:#eeeeee;" data-num="{{ num }}">
    <div class="panel-body">
        <input type="hidden" id="people_id[membre{{ num }}]" name="people_id[membre{{ num }}]"
               value="{{ member.id }}" >

        <input type="hidden" class="jsItemDeleted" id="people_delete[membre{{ num }}]" name="people_delete[membre{{ num }}]"
               value="0" >
        <div class="row">
            <div class="col-xs-6"><h3 class="no-margin">Coordonnées :</h3></div>
            <div class="col-xs-6 text-right">  <button type="button" class="jsDeleteItem primary btn btn-s"><i class="fa fa-trash" aria-hidden="true"></i></button></div>
        </div>

        <div class="form-group">

            <label for="people_name[membre{{ num }}]" class="control-label">Nom de famille : *</label>
            <input type="text" class="form-control publicinfo" id="people_name[membre{{ num }}]" name="people_name[membre{{ num }}]"
                   value="{{ member.name|ucwords }}"
                   placeholder="Nom de famille">
        </div>
        <div class="form-group">

            <label for="people_firstname[membre{{ num }}]" class="control-label">Prénom : *</label>
            <input type="text" class="form-control publicinfo" id="people_firstname[membre{{ num }}]" name="people_firstname[membre{{ num }}]"
                   value="{{ member.firstname|ucwords }}"
                   placeholder="Prénom">
        </div>

        <div class="form-group">
            <label for="people_email[membre{{ num }}]" class="control-label">E-mail : *</label>
            <input type="email" class="form-control" id="people_email[membre{{ num }}]" name="people_email[membre{{ num }}]"
                   value="{{ member.email }}"
                   placeholder="xxxxxx@xxxxx.com ">
        </div>
        <div class="form-group">
            <label for="people_tel_display[membre{{ num }}]" class="control-label">Téléphone : *</label>
            <br /><input id="people_tel_display[membre{{ num }}]"  value="{{ people["mandataire"].tel  }}" type="text" class="form-control telInput" name="people_tel_display[membre{{ num }}]" >
            <input type="hidden" class="form-control" id="people_tel[membre{{ num }}]" name="people_tel[membre{{ num }}]" placeholder="XXXXXXXXX"
                   value="{{ member.tel  }}" style="position:absolute;top:-10000px;">
        </div>

    </div>
</div>
{% endif %}