<h1>Bonjour,</h1>

<p>Nous avons bien reçu votre promesse #MAVOIX pour le Collectif {{group.departement.code}} - {{ group.departement.name}} {{ sup(group.circonscription.number,'f',false) }} circonscription</p>

<h1>Merci beaucoup pour votre promesse de don de {{ pledge.amount }} euros !</h1>

<p>La référence de votre don :</p>
<h2>{{  pledge.reference }}</h2>
<p><strong>Notez cette référence !</strong></p>

{% embed "visitor/blocks/payment-data.html.twig" %}{% endembed %}
