{% extends "visitor/base-dons.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - Cofinancement de la campagne"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ConfigService.get("urlSiteDons") }}/dons/accueil.html"/>

    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg"/>
    <meta property="og:image:secure_url" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description"  content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote MA VOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices."/>
    <meta name="description"  content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote #MAVOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices."/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - Cofinancement de la campagne">
    <meta name="twitter:description" content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote #MAVOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices.">
    <meta name="twitter:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg">
{% endblock %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>Les 43 collectifs locaux #MAVOIX sont en campagne !</h1>
                    <p>Les circonscriptions par ordre décroissant de montant restant à collecter pour atteindre leur objectif</p>

                   {% for group in groups %}
                      {% embed "visitor/blocks/circonscription.html.twig" %}{% endembed %}
                  {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endblock %}
