{% extends "visitor/base-dons.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - Co-financement de la campagne"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ConfigService.get("urlSiteDons") }}/dons/accueil.html"/>

    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg"/>
    <meta property="og:image:secure_url" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description"  content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote MA VOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices."/>
    <meta name="description"  content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote MA VOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices."/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - Co-financement de la campagne">
    <meta name="twitter:description" content="#MAVOIX finance son matériel de campagne uniquement par dons, pour exercer notre citoyenneté en nous offrant la possibilité de décider des lois pendant 5 ans, directement. Avec nos sous, mis bout à bout, nous finançons collectivement, par et pour les gens, cette aventure incroyable et inédite d'émancipation de toute forme de représentation traditionnelle : les bulletins de vote MA VOIX, les affiches miroirs si marquantes et les circulaires que recevront tous les électeurs et électrices.">
    <meta name="twitter:image" content="{{ ConfigService.get("urlSiteDons") }}/css/images/banner.jpg">
{% endblock %}


{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>Les collectifs locaux #MAVOIX sont en campagne !</h1>
                    <p>Les circonscriptions par ordre décroissant de montant restant à collecter pour atteindre l'objectif.</p>

<!-- Dans un premier temps, on n'affiche que les circos des Français de l'étranger, car le scrutin est une semaine plus tôt. -->
                    {% for group in groups %}

                        <div class="panel panel-default m-b-x2 text-left">
                            <div class="panel-heading p-b ">
                                <h3 id="col{{group.id}}" class="no-margin" >{{group.departement.code}} - {{ group.departement.name}}
                                  <a href="{{ ConfigService.get("urlSite") }}/groupe/page.html?id={{ group.id }}#budget" target="_blank"><span class="btn btn-default pull-right">Objectif : <span class="badge">{{  group.amount_target|number_format(0, ',', ' ') }} €</span></span></a></h3>
                                <div>{{ sup(group.circonscription.number,'f',false) }} circonscription</div>
                                <a href="{{ ConfigService.get("urlSite") }}/groupe/page.html?id={{ group.id }}" target="_blank">Où sont-ils ? Comment les contacter ? À quoi servira l'argent récolté ?</a>
                            </div>
                            <div class="panel-body">


                                <div class="row">
                                    <div class="col-xs-6 col-sm-3 col-md-3">
                                      <div style="background-image:url('/{{ group.path_pic_fit }}');" class="square-pic-group"></div>
                                  </div>
                                  <div class="col-md-9 col-sm-9 col-xs-6">
                                    <div class="row ">
                                      <div class="col-md-12">
                                          <div class="progress mavoix ">
                                              <div class="progress-bar"   role="progressbar"  style="width: {{  group.income_percent }}%">
                                                  <span >{{  group.income_amount|number_format(0, ',', ' ') }} €</span>
                                              </div>
                                              <div class="progress-bar"  role="progressbar"  style="width: {{  group.pledge_percent }}%">
                                                  <span >{{  group.pledge_amount|number_format(0, ',', ' ') }} €</span>
                                              </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row m-t-x2">

                                        <div class="col-md-4 col-xs-4 text-center progress-bar-key">
                                            <p><span class="label">Dons reçus</span></p>
                                            <p><span class="label">Dons promis</span></p>
                                        </div>
                                          <div class="col-md-6 col-xs-6 text-center">
                                              {%  if  group.income_amount+group.pledge_amount >= group.amount_target %}
                                                  <button type="button" class="btn btn-lg btn-primary" disabled >Objectif atteint !</button>
                                              {%  else  %}
                                                  <a href="{{ ConfigService.get("urlSiteDons") }}/dons/participation.html?id={{ group.id }}" class="btn btn-lg btn-primary">Je cofinance cette campagne !</a>
                                              {%  endif  %}
                                          </div>
                                    </div>
                                  </div>



                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
