{% extends "visitor/base-dons.html.twig" %}

{% block body %}
    <div class="wrapper-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <form action="/dons/ma-participation-result.json" method="post" autocomplete="off" data-ajax="true">
                        <h1>Retrouvez les informations nécessaires à l'envoi de votre don.</h1>
                        <hr>

                        <div class="form-group">
                            <label for="reference" class="control-label">Référence : *</label>
                            <input type="text" class="form-control text-uppercase" id="reference"
                                   value="{{ pledge_ref }}" name="reference" placeholder="">
                        </div>

                        <button type="submit" class="btn btn-primary pull-right">Valider</button>
                    </form>
                </div>

                {% if( pledge_ref!="" ) %}
                    <div class="row ">
                        <div class="col-lg-6 col-lg-offset-3 p-t-x4">
                            <p>Votre promesse de don pour le collectif {{ group.departement.code }}
                                - {{ group.departement.name }} {{ sup(group.circonscription.number,'f',false) }}
                                circonscription</p>

                                <p>Votre référence : {{ pledge_ref }}</p>

                                {% embed "visitor/blocks/payment-data.html.twig" %}{% endembed %}
                    </div>
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}
