{% extends "visitor/base-dons.html.twig" %}

{% block body %}
<div class="wrapper-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <h1>Merci beaucoup !</h1>

                <p>Nous avons bien reçu votre promesse de don pour un montant de {{ pledge.amount }}&nbsp;euros pour le collectif {{group.departement.code}} - {{ group.departement.name}} {{ sup(group.circonscription.number,'f',false) }} circonscription.</p>

                <p>La référence de votre don :</p>
                <h2>{{  pledge.reference }}</h2>
                <p><strong>Notez cette référence.</strong> Nous vous l'avons également envoyée par email, mais nous constatons que les emails que nous envoyons arrivent souvent dans les courriers indésirables ("spams") des destinataires, voire pas du tout. Voilà pourquoi il est préférable que vous notiez dès maintenant cette référence.</p>
                <p>Vous pouvez retrouver toutes les informations nécessaires pour envoyer votre don sur la page <a href="{{ ConfigService.get("urlSiteDons") }}/dons/ma-participation.html" target="_blank">Ma promesse de don</a>.</p>

                {% embed "visitor/blocks/payment-data.html.twig" %}{% endembed %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
