{% extends "visitor/base.html.twig" %}

{% block body %}
<div class="wrapper-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form action="/dons/save-pledge.json" id="formpledge" method="post" autocomplete="off"
                      data-ajax="true"
                      enctype="multipart/form-data">
                    <input type="hidden" value="{{ group.id }}" name="group_id" id="group_id">
                    <input type="hidden" value="{{ subkey }}" name="group_subkey" id="group_subkey">
                    <div class="form-group ">
                        <label for="civility" class="control-label">Civilité : *</label>
                        <select id="civility" name="civility" class="form-control ">
                            <option value="">Choisir ...</option>
                            <option value="M." {% if pledge.civility=='M.' %} selected {% endif %}>M.</option>
                            <option value="Mme" {% if pledge.civility=='Mme' or pledge.civility=='Mme.' %} selected {% endif %}>Mme</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <label for="name" class="control-label">Nom de famille : *</label>
                        <input title="Votre nom de famille" type="text" class="form-control " id="name" name="name"
                               value="{{ pledge.name|ucwords }}"
                               placeholder="Nom de famille">
                    </div>
                    <div class="form-group">

                        <label for="firstname" class="control-label">Prénom : *</label>
                        <input  title="Votre prénom" type="text" class="form-control " id="firstname" name="firstname"
                                value="{{ pledge.firstname|ucwords }}"
                                placeholder="Prénom">
                    </div>

                    <p>Nous prenons vos coordonnées de contact afin de pouvoir vous envoyer un rappel si un certain temps après avoir reçu votre promesse de dons nous n'avons pas reçu le virement ou le chèque. L'ensemble de ces données seront supprimées une fois les comptes de campagne des candidats clôturés, quelques semaines après les élections.</p>

                    <div class="form-group">

                        <label for="email" class="control-label">Email : *</label>
                        <input  title="Votre email" type="text" class="form-control " id="email" name="email"
                                value="{{ pledge.firstname|ucwords }}"
                                placeholder="xxxxx@xxxxxx.com">
                    </div>
                    <div class="form-group">
                        <label for="tel_display" class="control-label">Téléphone : *</label>
                        <br /><input  title="Votre numéro de téléphone" id="tel_display"  value="{{ pledge.tel  }}" type="text" class="form-control telInput" name="tel_display" >
                        <input type="hidden" class="form-control" id="tel" name="tel" placeholder="XXXXXXXXX"
                               value="{{ pledge.tel  }}" style="position:absolute;top:-10000px;">

                    </div>
                    <p> Nous avons besoin de votre adresse pour vous envoyer le reçu fiscal qui vous permettra de déduire 66 % du montant du don de vos impôts. Si vous ne payez pas ou peu d'impôts cette année, vous pourrez utiliser le don sur une autre année fiscale.</p>

                    <div class="form-group">
                        <label for="ad1" class="control-label">Adresse champ 1 : *</label>
                        <input type="text" class="form-control" id="ad1" name="ad1"
                               placeholder="N° | type de voie | nom de la voie" value="{{ pledge.ad1 }}">
                    </div>
                    <div class="form-group">
                        <label for="ad2" class="control-label">Adresse champ 2 :</label>
                        <input type="text" class="form-control" id="ad2" name="ad2" value="{{ pledge.ad2 }}"
                               placeholder="Immeuble, Résidence, Z.I ...">
                    </div>
                    <div class="form-group">
                        <label for="ad3" class="control-label">Adresse champ 3 :</label>
                        <input type="text" class="form-control" id="ad3" name="ad3" value="{{ pledge.ad3 }}"
                               placeholder="BP, TSA, Lieu dit">
                    </div>

                    <div class="form-group">
                        <label for="zipcode" class="control-label">Code postal : *</label>
                        <br /><input  title="Votre code postal"  placeholder="XXXXX" id="zipcode"  value="{{ pledge.zipcode  }}" type="text" class="form-control" name="zipcode" >
                    </div>

                    <div class="form-group">
                        <label for="city" class="control-label">Ville : *</label>
                        <input type="text" class="form-control" id="city" name="city"
                               value="{{ pledge.city|capitalizefirst }}"
                               placeholder="Nom de la ville">
                    </div>




                    <div class="form-group">

                        <label for="amount" class="control-label">Montant de votre promesse : *</label>
                        <input  title="Montant de votre promesse" type="text" class="form-control " id="amount" name="amount"
                                value="{{ pledge.amount }}"
                                placeholder="XXX">
                    </div>

                    <h2>Les engagements</h2>

                    <div class="form-group engagements-a">
                        <div class="checkbox">
                            <label class="label-checkbox" for="engagement-a1"><strong>Je m'engage à ....</strong></label>
                            <label class="control-label">
                                <input id="engagement-a1" value="ok" type="checkbox"
                                       name="engagement-a1" {{ checkedengagement }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <span>Oui *</span>
                        </div>

                        <div class="checkbox">
                            <label class="label-checkbox" for="engagement-a2"><strong>Je m'engage à ....</strong></label>
                            <label class="control-label">
                                <input id="engagement-a2" value="ok" type="checkbox"
                                       name="engagement-a2" {{ checkedengagement }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <span>Oui *</span>
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                                Envoyer ma promesse de don

                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}