{% extends "visitor/base-dons.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="#MAVOIX - {{ sup(group.circonscription.number,'f',true) }} circonscription / {{  group.departement.name}}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ ConfigService.get("urlSiteDons") }}/dons/participation.html?id={{ group.id }}"/>

    <meta property="og:image" content="{{ ConfigService.get("urlSiteDons") }}/pic/dons/{{ group.id }}/tirelire.png"/>
    <meta property="og:image:secure_url" content="{{ ConfigService.get("urlSiteDons") }}/pic/dons/{{ group.id }}/tirelire.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description"  content="Soutenez #MAVOIX aux élections législatives."/>
    <meta name="description"  content=""/>
    <!-- TWITTER --->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@MAVOIX2017">
    <meta name="twitter:creator" content="@MAVOIX2017">
    <meta name="twitter:title" content="#MAVOIX - {{ sup(group.circonscription.number,'f',true) }} circonscription / {{ group.departement.name}}">
    <meta name="twitter:description" content="Soutenez #MAVOIX aux élections législatives.">
    <meta name="twitter:image" content="{{ ConfigService.get("urlSiteDons") }}/pic/dons/{{ group.id }}/tirelire.png">
{% endblock %}

{% block body %}
<div class="wrapper-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <form action="/dons/save-pledge.json" id="formpledge" method="post" autocomplete="off"
                      data-ajax="true"
                      enctype="multipart/form-data">
                    <input type="hidden" value="{{ group.id }}" name="group_id" id="group_id">
                    <input type="hidden" value="{{ subkey }}" name="group_subkey" id="group_subkey">


                    <p><strong><a href="https://www.mavoix.info" target="_blank">#MAVOIX</a></strong> est une expérimentation d’émancipation et de capacitation citoyenne inédite. En juin 2017, deux choix se présentent aux Françaises et aux Français : allons-nous rester spectateurs-électeurs en déléguant nos voix, ou allons-nous collectivement nous offrir la possibilité d’être acteurs et décideurs des lois ?</p>

                    <p><strong>#MAVOIX</strong>, ce sont des femmes et des hommes qui s’organisent de manière horizontale, coopérative, pair à pair, prouvant pour la première fois qu’on peut créer une action politique d’envergure nationale sans parti, sans adhérent, sans porte-parole, sans financement public, sans personnification médiatique.</p>
                    <p>Si nous réussissons à faire entrer un.e ou plusieurs député.e.s <strong>#MAVOIX</strong> à l’Assemblée nationale, les Françaises et les Français décideront enfin des lois qui régissent leurs vies à l’occasion des législatives de juin 2017, pour la première fois dans l’Histoire, à travers ces femmes et ces hommes élu.e.s pour être les stricts relais de leurs décisions.</p>
                    <p>Cette expérimentation est co-construite par des femmes et des hommes, toutes et tous bénévoles, qui accordent d’ores et déjà du temps et leurs talents à leur citoyenneté depuis deux ans, créant de toutes pièces le site, la plateforme numérique de vote logiciel libre, le matériel de campagne, tous les outils de communication, les formations en ligne, les réunions publiques, la présence dans les villes et les campagnes.</p>
                    <p>Le temps est venu de nous donner collectivement les moyens de réaliser cette campagne inédite et de financer les bulletins de vote, les affiches électorales, les professions de foi offrant aux françaises et aux français une opportunité inédite au beau milieu d’un effondrement spectaculaire des partis et d’une crise de régime sans précédent et inéluctable.</p>




                    <div class="form-group ">
                        <label for="civility" class="control-label">Civilité : *</label>
                        <select id="civility" name="civility" class="form-control ">
                            <option value="">Choisir ...</option>
                            <option value="M." {% if pledge.civility=='M.' %} selected {% endif %}>M.</option>
                            <option value="Mme" {% if pledge.civility=='Mme' or pledge.civility=='Mme.' %} selected {% endif %}>Mme</option>
                        </select>
                    </div>

                    <div class="form-group">

                        <label for="name" class="control-label">Nom de famille : *</label>
                        <input title="Votre nom de famille" type="text" class="form-control " id="name" name="name"
                               value="{{ pledge.name|ucwords }}"
                               placeholder="Nom de famille">
                    </div>
                    <div class="form-group">

                        <label for="firstname" class="control-label">Prénom : *</label>
                        <input  title="Votre prénom" type="text" class="form-control " id="firstname" name="firstname"
                                value="{{ pledge.firstname|ucwords }}"
                                placeholder="Prénom">
                    </div>

                    <p>Nous prenons vos coordonnées de contact afin de pouvoir vous envoyer un rappel si un certain temps après avoir reçu votre promesse de dons nous n'avons pas reçu le virement ou le chèque. L'ensemble de ces données seront supprimées une fois les comptes de campagne des candidats clôturés, quelques semaines après les élections.</p>

                    <div class="form-group">

                        <label for="email" class="control-label">Email : *</label>
                        <input  title="Votre email" type="text" class="form-control " id="email" name="email"
                                value="{{ pledge.firstname|ucwords }}"
                                placeholder="xxxxx@xxxxxx.com">
                    </div>
                    <div class="form-group">
                        <label for="tel_display" class="control-label">Téléphone : *</label>
                        <br /><input  title="Votre numéro de téléphone" id="tel_display"  value="{{ pledge.tel  }}" type="text" class="form-control telInput" name="tel_display" >
                        <input type="hidden" class="form-control" id="tel" name="tel" placeholder="XXXXXXXXX"
                               value="{{ pledge.tel  }}" style="position:absolute;top:-10000px;">

                    </div>
                    <p> Nous avons besoin de votre adresse pour vous envoyer le reçu fiscal qui ouvre droit à une réduction fiscale de 66 % du montant de votre don de vos impôts. Par exemple, si vous donnez 30 euros et que vous payez des impôts, votre don vous coûte en réalité 10 euros. Si vous ne payez pas d'impôts cette année, vous pourrez utiliser le reçu fiscal sur une autre année.</p>

                    <div class="form-group">
                        <label for="ad1" class="control-label">Adresse champ 1 : *</label>
                        <input type="text" class="form-control" id="ad1" name="ad1"
                               placeholder="N° | type de voie | nom de la voie" value="{{ pledge.ad1 }}">
                    </div>
                    <div class="form-group">
                        <label for="ad2" class="control-label">Adresse champ 2 :</label>
                        <input type="text" class="form-control" id="ad2" name="ad2" value="{{ pledge.ad2 }}"
                               placeholder="Immeuble, Résidence, Z.I ...">
                    </div>
                    <div class="form-group">
                        <label for="ad3" class="control-label">Adresse champ 3 :</label>
                        <input type="text" class="form-control" id="ad3" name="ad3" value="{{ pledge.ad3 }}"
                               placeholder="BP, TSA, Lieu dit">
                    </div>

                    <div class="form-group">
                        <label for="zipcode" class="control-label">Code postal : *</label>
                        <br /><input  title="Votre code postal"  placeholder="XXXXX" id="zipcode"  value="{{ pledge.zipcode  }}" type="text" class="form-control" name="zipcode" >
                    </div>

                    <div class="form-group">
                        <label for="city" class="control-label">Ville : *</label>
                        <input type="text" class="form-control" id="city" name="city"
                               value="{{ pledge.city|capitalizefirst }}"
                               placeholder="Nom de la ville">
                    </div>

                    <h2 id="budget">Budget de campagne du collectif {{ group.departement.name}}, {{ sup(group.circonscription.number,'f',false) }} circonscription</h2>

                    <table class="table">
                      <tr><td>Impression des affiches électorales </td><td>{{ postersCost }}&nbsp;euros</td><tr>
                      {% if group.departement.code == '99' %}
                      <tr><td>Impression des bulletins de vote </td><td>{{ ballotsEtrCost }}&nbsp;euros</td><tr>
                      <tr><td>Campagne de mails à destination des Français de l'étranger </td><td>{{ remainingEtrCost  }}&nbsp;euros</td><tr>
                      <tr><td>Expertise comptable du compte de campagne </td><td>{{ accountantEtrCost }}&nbsp;euros</td><tr>
                      {% else %}
                      <tr><td>Impression des bulletins de vote </td><td>{{ ballotsCost }}&nbsp;euros</td><tr>
                      <tr><td>Livraison des impressions </td><td>{{ remainingCost }}&nbsp;euros</td><tr>
                      <tr><td>Expertise comptable du compte de campagne </td><td>{{ accountantCost }}&nbsp;euros</td><tr>
                      {% endif %}
                      <tr><td>Frais postaux pour l'envoi des reçus fiscaux </td><td>{{ postalCost }}&nbsp;euros</td><tr>
                      <tr><td>Frais bancaires </td><td>{{ bankingCost }}&nbsp;euros</td><tr>
                      <tr><td>Autres dépenses </td><td>{{ smallExpensesCost }}&nbsp;euros</td><tr>
                    </table>

                    <p>Total : <strong><span style="font-size:1.2em">{{ group.amount_target }} euros</span></strong></p>


                    <h2>Montant du don</h2>

                    <p>La campagne ne peut être financée que par des personnes physiques, dans la limite de 4&nbsp;600&nbsp;€ par personne. Un.e mandataire financier est chargé de collecter les dons qui ouvrent droit à réduction d’impôt (66&nbsp;%, ce qui revient à dire que si vous êtes imposable et que vous donnez 30&nbsp;euros, votre don vous coûte réellement 10&nbsp;euros).</p>
                    <p>À titre d’exemple :</p>
                    <ul>
                      <li><strong>10 €</strong> : vous offrez à 4 000 électeurs et électrices la possibilité de trouver les bulletins de vote dans leurs bureaux de vote et dans leur enveloppe électorale.
                      <li><strong>20 €</strong> : vous offrez à 2 000 électeurs et électrices, la possibilité de recevoir la profession de foi (aussi appelée circulaire), envoyée avec tout le matériel de vote qu’ils et elles recevront à leur adresse postale dans la semaine précédant le scrutin du 11 juin (c’est l’enveloppe kraft que vous recevez tous et toutes dans la semaine précédant une élection avec les documents de tous les candidat.e.s). Le simple fait de recevoir la profession de foi peut multiplier par deux le nombre de voix recueillies, car le message passe mieux.</li>
                      <li><strong>plus de 50 €</strong> : grâce à vous, 40 affiches seront collées sur les panneaux électoraux. Ces affiches sont inédites et constituent un exploit technique et sont déjà entrées dans les annales de la communication politique en France et à l’étranger. Nous serons heureux de vous en offrir une, elle sera à retirer lors des évènements publics du collectif local qui sera ravi de vous rencontrer à cette occasion.</li>
                      <li><strong>plus de 100 €</strong> : vous offrez à 40&nbsp;000 inscrit.e.s (!) sur votre circonscription les bulletins de vote. Nous serons heureux de vous offrir une affiche, elle sera à retirer lors des évènements publics du collectif local qui sera ravi de vous rencontrer à cette occasion.</li>
                    </ul>


                    <div class="form-group">

                        <label for="amount" class="control-label">Montant de votre promesse de don, en euros : *</label>
                        <input  title="Montant de votre promesse" type="text" class="form-control " id="amount" name="amount" style="font-size:1.4em;height:1.4em"
                                value="{{ pledge.amount }}"
                                placeholder="">
                        <div class="help-block">Actuellement : {{  amountMax|number_format(0, ',', ' ') }} € maximum pour cette circonscription. Vous pourrez si vous le souhaitez donner à d'autres circonscriptions en plus de celle-ci.</div>
                    </div>

                    <h2>Les engagements</h2>

                    <div class="form-group engagements-a">
                        <div class="checkbox">
                            <label class="label-checkbox" for="engagement-a1"><strong>Je certifie sur l'honneur que je suis une personne physique et que le règlement de mon don ne provient pas du compte d’une personne morale (société, association, collectivité...).</strong></label>
                            <label class="control-label">
                                <input id="engagement-a1" value="ok" type="checkbox"
                                       name="engagement-a1" {{ checkedengagement }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <span>Oui *</span>
                        </div>

                        <div class="checkbox">
                            <label class="label-checkbox" for="engagement-a2"><strong>Je certifie sur l'honneur que le paiement de mon don provient de mon compte bancaire personnel ou de celui de mon conjoint.</strong></label>
                            <label class="control-label">
                                <input id="engagement-a2" value="ok" type="checkbox"
                                       name="engagement-a2" {{ checkedengagement }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <span>Oui *</span>
                        </div>

                        <div class="checkbox">
                            <label class="label-checkbox" for="engagement-a3"><strong>Je certifie avoir pris connaissance de <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=03D84D0FC5A59E79CFA9F61DC104497A.tpdila19v_3?idArticle=LEGIARTI000023883022&cidTexte=LEGITEXT000006070239&dateTexte=20170513" target="_blank">l'article L.52-8 du code électoral</a>, qui stipule notamment que la somme des dons versés dans le cadre des mêmes élections ne peut dépasser 4&nbsp;600 euros par donateur.</strong></label>
                            <label class="control-label">
                                <input id="engagement-a3" value="ok" type="checkbox"
                                       name="engagement-a3" {{ checkedengagement }}>
                                <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                            </label>
                            <span>Oui *</span>
                        </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                                Envoyer ma promesse de don

                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
